<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="game.baru"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:label="@string/app_name" android:name="start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="option"></activity>
        <activity android:name="q1"></activity>
        <activity android:name="q2"></activity>
        <activity android:name="q3"></activity>
        <activity android:name="q4"></activity>
        <activity android:name="q5"></activity>
        <activity android:name="traps"></activity>
        <activity android:name="win"></activity>
        <activity android:name="zonk"></activity>

    </application>
</manifest>